.notch { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: 3%;
    z-index: 2;
    width: 175px;
    height: 35px;
    background-color: #041629;
    border-radius: 35px;
    transition:all 0.3s;
}.notch p { 
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    gap: 10px;
    color: #F5E9CF;
}.notch p b { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #041629;
    border-radius: 35px;
    transition: all 1s;
}.notch p b.j1 {  
    background-color: #46d5fb;
}.notch p b.j2 { 
    background-color: #F5E9CF;
}.notch p b.ganador { 
    width: 100%;
}.notch p b.perdedor {
    display: none;
}

.notch.active { 
    align-items: stretch;
    width: 160px;
    height: 135px;
}
.notch.active p {   
    justify-content: space-around;
}
.notch.active .panel { 
    display: flex;
}
.notch .panel { 
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 4px 20px;
    gap: 8px;
}
.panel_icon { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: #1b2735;
    border-radius: 5px;
    transition: all 0.5s;
}
.panel_icon.md { 
    flex: 1 1 calc(50% - 10px); 
}
.panel_icon.lg {
    flex: 1 1 100%;  
}
.panel_icon.md.height-40 {  
    height: 40px;
}
.panel_icon:hover.md { 
    background-color: #2d3a4a;
}
.panel_icon:hover.lg { 
    background-color: #2d3a4a;
}
